ioctl: 1
fcntl: 1
munmap: 1
close: 1
read: 1
fstat: 1
exit: 1
getpid: 1
socket: arg0 == AF_UNIX
connect: 1
rt_sigaction: 1
openat: 1
faccessat: 1
flock: 1
futex: 1
rt_sigprocmask: 1
prctl: 1
readlinkat: 1
sigaltstack: 1
pread64: 1
exit_group: 1
madvise: 1
mremap: 1
set_tid_address: 1
fstatfs: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
newfstatat: 1
getrandom: 1
getuid: 1
writev: 1
statfs: 1
sched_getaffinity: 1
getrlimit: 1
restart_syscall: 1
sched_getscheduler: 1
execve: 1
rt_sigreturn: 1
dup: 1
ppoll: 1
recvfrom: 1
sendto: 1
sendmsg: 1
socketpair: 1
write: 1
clone: 1
eventfd2: 1
lseek: 1
inotify_init1: 1
inotify_add_watch: 1
getdents64: 1
setpriority: 1
shutdown: 1
nanosleep: 1
